# MySQL
MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=food_db
MYSQL_USER=food_user
MYSQL_PASSWORD=changeme
MYSQL_REPLICATION_USER=replicator
MYSQL_REPLICATION_PASSWORD=changeme

# Redis
REDIS_PASSWORD=changeme

# Spring
SPRING_PROFILES_ACTIVE=docker

# Azure
ACR_NAME=scalingfoodacr
AZURE_RESOURCE_GROUP=scaling-food-rg
