[mysqld]
server-id=2
relay-log=relay-bin
log-bin=mysql-bin
binlog-format=ROW
gtid-mode=ON
enforce-gtid-consistency=ON
log-slave-updates=ON
read-only=ON
super-read-only=ON

# Performance
innodb_buffer_pool_size=256M
innodb_log_file_size=64M
max_connections=200
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
